:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;

  --tblr-code-color: var(--tblr-orange);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.navbar-logo {
  height: 4rem;
}

button {
  transition: transform 300ms;
}

button:hover {
  transform: scale(0.95);
}
